<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.com.mapper.SetMealMapper">

    <insert id="addSetMeal">
        insert into set_meal
        (category_id, name, price, status, description, image, create_time, update_time, create_user, update_user)
        values (#{categoryId}, #{name}, #{price}, #{status}, #{description}, #{image}, #{createTime}, #{updateTime},
                #{createUser}, #{updateUser})
    </insert>

    <select id="pageQuery" resultType="org.com.vo.SetMealVO">
        select set_meal.*, category.name as categoryName
        from set_meal left join category
        on set_meal.category_id = category.id
        <where>
            <if test="name != null">
                and set_meal.name like concate('%',#{name},'%')
            </if>
            <if test="status != null">
                and set_meal.status = #{status}
            </if>
            <if test="categoryId != null">
                and set_meal.category_id = #{categoryId}
            </if>
        </where>
        order by set_meal.create_time desc
    </select>

    <select id="filter" resultType="org.com.entity.SetMeal">
        select * from set_meal
        <where>
            <if test="name != null">
                and name like concat('%',name,'%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from set_meal
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>
</mapper>